<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.mapper.OrdersMapper">
    <!-- SQL语句中以"#{}"的形式引用参数 -->
    <select id="findOrdersById" parameterType="int" resultMap="OrderWithProductResult">

        SELECT t_orders.*,t_product.* ,t_orders.id oid,
               t_product.id pid
        from t_orders,t_product,t_ordersitem where
            t_orders.id=t_ordersitem.orders_id and
            t_product.id =t_ordersitem.product_id and
            t_orders.id=1

    </select>
<resultMap id="OrderWithProductResult" type="Orders">
    <id property="id" column="oid"></id>
    <result property="number" column="number"></result>
    <collection property="productList" ofType="com.course.pojo.Product" javaType="list">
     <id property="id" column="pid"></id>
     <result property="name" column="name"></result>
        <result property="price" column="price"></result>
    </collection>
</resultMap>
</mapper>
